.table-clients th {
    color: "white";
}

.table-clients {
    background-color: #ffffffdd;
    border-radius: 10px;
    overflow: hidden;
}

.card-clients {
    background-color: #00000090;
}

.card-clients .card-header {
    background-color: #00000020;
}

.card-clients .card-body {
    background-color: #00000010;
}